*{
    margin: 0;
    padding: 0;
}
canvas{
    border: 1px solid #000;
    background: #000;
}

.gif{
    position: fixed;
    z-index: 1100;
}

.canvasContiner{
    position: absolute;
    width: 1000px;
    z-index: 1000;
    height: 500px;
    overflow: hidden;
}


.d-none{
    display: none;
}

.counter{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1020;
    color: white;
    font-size: 50px;
}