*{
    margin: 0;
    padding: 0;
}
canvas{
    border: 1px solid #000;
    background: #000;
}

.gif{
    position: fixed;
    z-index: 1100;
}

.canvasContiner{
    position: absolute;
    width: 1000px;
    z-index: 1000;
    height: 500px;
    overflow: hidden;
}


.d-none{
    display: none;
}

.counter{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1020;
    color: white;
    font-size: 50px;
}

.mobile{
    padding: 10px;
    z-index: 10;
    position: fixed;
    top: 500px;
    width: 90%;
    height: calc(100vh - 500px);
    display: none;
}
        
.mobile > *{
    justify-self: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    color: #fff;
    background: #000;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;

}


.up{
    grid-area: up;
}

.enter{
    grid-area: enter;
}

.left{
    grid-area: left;
}

.rigth{
    grid-area: rigth;
}

@media screen and (max-width: 1000px ){
    .canvasContiner{
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .mobile{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        grid-template-areas:
                'up up up'
                'left enter rigth';    
    }
}
